.triangle-r1 {
    height: fit-content;
    border-bottom: 45px solid transparent;
    border-left: 25px solid rgba(51, 153, 204, 0.5);
    overflow: hidden;
}

/*----*/
.nav-rooms-suites-layer nav a span {
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    border: 2px solid #cccccc;
    border-radius: 50%;
    color: #cccccc;
    font-size: 15px;
}

#reser-active {
    background-color: #3399cc !important;
    color: white !important;
}

/*----*/

.main-basic-info {
    max-width: 980px;
    margin: auto;
    height: 676px;
}

.basic-info-content {
    width: 578px;
    height: 172px;
    margin: auto;
}

.basic-info-content h3 {
    font-size: 20px;
    color: #333333;
    font-weight: 500;
    padding: 49px 0px 19px 0px;
}

.basic-info-content p {
    font-size: 13px;
    color: #333333;
}

/*----*/



/*----*/
.form-basic {
    width: 578px;
    height: 172px;
    margin: auto;
}

.form-basic form div {
    display: flex;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group label {
    margin-bottom: 5px;
}

label {
    font-size: 14px;
    color: #333333;
    font-weight: 600;
}

.form-group input {
    width: 270px;
    height: 37px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.form-top {
    padding-top: 40px;
    border-top: 2px dashed grey;
}

.form-bot {
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 2px dashed grey;
}

.form-group select {
    width: 125px;
    height: 37px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #333333;
    cursor: pointer;
}

.form-basic form .btn-reservation {
    display: flex;
    justify-content: center;
}

.form-basic form div #btn-reser {
    width: 207px;
    height: 35px;
    background-color: #3399cc;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    padding: 10px 0px 10px 0px;
}

.form-basic form div #btn-reser:hover {
    background-color: #0973a8;
}